:root {
	--breadcrumbs-fs: 10px;
	--breadcrumbs-fs-desktop: 12px;
	--black-text: rgb(0 47 52);
	--desc-text: rgb(64, 99, 103);
	--border-color: rgba(14, 4, 5, 0.2);
	--std-fs: 14px;
	--desktop-fs: 16px;
}

html {
	font-family: "Roboto", sans-serif;
}

body {
	background-color: #f1f4f5;
	margin: 0;
}

p {
	font-size: var(--std-fs);
	color: var(--desc-text);
	margin: 0;
}

button {
	cursor: pointer;
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 20;
	font-size: 20px;
}

.custom-icon {
	font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 20;
	font-size: 30px;
}

.next {
	font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 20;
	font-size: 24px;
	color: #002f34;
}

/* breadcrumbs */

#bc-container {
	display: flex;
	align-items: end;
	padding: 10px;
}

#breadcrumbs {
	list-style: none;
	display: flex;
	font-size: var(--breadcrumbs-fs-desktop);
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	padding: 0;
}

#bc-container::after {
	content: "...";
	font-size: var(--breadcrumbs-fs-desktop);
	padding-bottom: 4px;
}

#breadcrumbs li {
	display: flex;
	align-items: center;
}

#breadcrumbs a {
	color: #7f9799;
	text-decoration: none;
}

/* desktop banner */

.banner-desktop {
	padding-bottom: 10px;
}

.banner-desktop > img {
	width: 100%;
	border-radius: 5px;
}

/* card */

.card,
.desc-card {
	background-color: white;
	border-radius: 8px;
	overflow: hidden;
}

.card {
	margin-bottom: 5px;
}

.desc-card {
	padding: 16px;
	border: 0.5px solid var(--border-color);
	margin: 5px 0;
}

.desc-card > h4 {
	margin-top: 0;
	margin-bottom: 10px;
}

/* carousel */

figure {
	margin: 0;
}

.card > figure > img {
	width: 100%;
	aspect-ratio: 2/1;
	object-fit: contain;
}

.card > figure {
	display: grid;
	place-items: center;
	padding: 10px 0;
	background-color: black;
	position: relative;
}

.highlight {
	padding: 3px 5px;
	display: flex;
	align-items: center;
	background-color: #ffce32;
	position: absolute;
	left: 0;
	top: 20px;
}

.highlight p {
	color: var(--black-text);
	font-size: var(--breadcrumbs-fs);
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0.5pt;
	padding: 0 3px;
}

.highlight span {
	font-size: 14px;
	padding: 0 3px;
}

.thumbnails {
	display: flex;
	margin-bottom: 10px;
}

.thumbnails img {
	aspect-ratio: 1;
	object-fit: cover;
	width: 60px;
	height: 60px;
	border: 2px solid var(--border-color);
	margin-right: 5px;
}

/* price-info */

.price-info {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.price-info h2 {
	margin: 0;
	font-size: 24px;
	font-weight: 500;
}

.like-share {
	display: flex;
	align-items: center;
}

.like-share span:last-child {
	margin-left: 5px;
}

article.title {
	margin-bottom: 16px;
}

article.title p {
	font-size: var(--std-fs);
	padding: 5px 0;
}

hr {
	border: 0.5px solid var(--border-color);
	margin: 10px 0;
}

.location-date {
	display: flex;
	justify-content: space-between;
}

.location-date > p {
	font-size: 12px !important;
	font-weight: 300;
}

/* banner */

.banner {
	display: none;
	padding: 0 10px;
}

.banner img {
	width: 100%;
	border-radius: 5px;
}

/* details */

.desc-container {
	display: flex;
}

.col-1 > .desc-card:first-child {
	margin-top: 0;
}

.col-1 {
	width: 65%;
	padding-right: 2.5px;
}

.col-2 {
	width: 35%;
	padding-left: 2.5px;
}

.desc-card > h2 {
	margin: 0 0 15px 0;
	font-size: 20px;
}

.spec {
	display: flex;
	margin-bottom: 15px;
}

.spec p {
	width: 50%;
}

.spec p,
.spec li {
	font-size: var(--std-fs);
	margin: 0;
	list-style: none;
	color: var(--desc-text);
}

.spec p:nth-child(even) {
	color: var(--black-text);
}

.spec-list {
	margin: 0;
	padding: 0;
}

.spec-list li {
	color: var(--black-text);
	margin-bottom: 10px;
}

.detail .spec:last-child {
	margin-bottom: 0;
}

/* item-desc */

.item-desc > p {
	line-height: 20px;
}

.space {
	height: 20px;
}

/* avatar */

.avatar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}

.avatar h3 {
	text-overflow: ellipsis;
	text-transform: uppercase;
}

.cred img {
	aspect-ratio: 1;
	border-radius: 50%;
	height: 68px;
	margin-right: 12px;
}

.cred {
	display: flex;
	align-items: center;
}

.big-icon {
	font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 20;
	font-size: 30px;
}

.location {
	width: 100%;
}

/* lapor iklan */

.desc-card h5 {
	margin: 0;
}

.desc-card a {
	color: var(--black-text);
	text-decoration: none;
}

.report {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* footer */
footer {
	margin-top: 40px;
}

#footer-wrapper {
	background-color: rgb(235 238 239);
	padding: 16px 16px 32px;
}

#m-footer-menu {
	display: none;
}

#d-footer-menu {
	display: flex;
	justify-content: space-evenly;
	gap: 40px;
}

#d-footer-menu > div,
#d-footer-menu > div > a {
	display: block;
}

#d-footer-menu h2 {
	margin: 0 0 15px 0;
	font-size: var(--std-fs);
	text-transform: uppercase;
}

#d-footer-menu a {
	text-decoration: none;
	color: #7f9799;
	font-size: 12px;
	margin-bottom: 8px;
}

.d-socials {
	display: flex !important;
	flex-direction: column;
	gap: 10px;
}

.d-socials > h2 {
	margin-left: 5px !important;
	margin-bottom: 0 !important;
}

.badge {
	width: 94px;
}

.socmed-icons > img,
.badge {
	cursor: pointer;
}

.expand {
	font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 20;
	font-size: 32px;
}

.socmed-icons {
	display: flex;
}

.socmed-icons > img {
	aspect-ratio: 1;
	width: 20px;
	opacity: 0.5;
	margin-right: 5px;
}

#copyright {
	width: 100%;
	background-color: #012f34;
	display: grid;
	place-items: center;
	height: 90px;
	z-index: 2;
}

#copyright p {
	color: white;
	font-size: 12px;
}

#contact {
	display: flex;
	justify-content: space-around;
	background-color: white;
	padding: 10px;
}

#contact > button {
	border: none;
	background-color: #012f34;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	width: 45%;
	padding: 16px;
	font-size: 16px;
}

#contact > button:last-child {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* z-index */

#contact {
	z-index: 1;
}

main {
	position: relative;
	z-index: 0;
	max-width: 1280px;
	margin: 0 auto;
}

footer {
	position: relative;
	z-index: 2;
}

@media only screen and (max-width: 768px) {
	#bc-container::after {
		font-size: var(--breadcrumbs-fs);
	}

	#breadcrumbs {
		font-size: var(--breadcrumbs-fs);
	}

	.banner {
		display: block;
	}

	.banner-desktop,
	.thumbnails,
	.images-heading {
		display: none;
	}

	.price-info h2 {
		font-size: 20px;
	}

	.desc-container {
		display: block;
	}

	.col-1,
	.col-2 {
		width: 100%;
		padding: 0;
	}

	.next {
		font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 20;
		font-size: 20px;
	}

	/* footer on small screen */

	#d-footer-menu {
		display: none;
	}

	#footer-wrapper {
		padding: 0;
	}

	#m-footer-menu {
		display: block;
		background-color: white;
	}

	#m-footer-menu h2 {
		font-size: var(--desktop-fs);
		font-weight: 300;
		margin: 0;
	}

	#m-footer-menu > div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px 24px;
		border-top: 1px solid var(--border-color);
	}

	.downloads {
		justify-content: center !important;
	}

	#contact {
		width: 100%;
		position: fixed;
		padding: 10px 0;
		bottom: 0;
		box-shadow: 1px 4px 0 rgba(0, 0, 0, 0.1);
	}
}
